/* Etiquetas de titulos */
.contenedor-titulo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contenedor-titulo .imagen {
  background-color: #3a6b80;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #dbaf1f;
  z-index: 1;
}

.contenedor-titulo .imagen img {
  width: 100%;
}

.contenedor-titulo .titulos {
  background-color: #3a6b80;
  border: 5px solid #dbaf1f;
  padding: 25px;
  border-radius: 50px;
  color: rgb(248, 255, 227);
  font-weight: bold;
  width: 500px;
  text-align: center;
  transform: translateX(-40px);
}

.contenedor-titulo .titulo {
  background-color: #3a6b80;
  padding: 25px;
  border-radius: 50px;
  color: rgb(248, 255, 227);
  width: 450px;
  text-align: center;
  margin-bottom: 50px;
}


/* Tarjetas de investigadores */
.tarjeta-investigador {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.investigadores {
  width: 800px;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.investigador-img {
  width: 300px;
  z-index: 2;
}

.informacion {
  background-color: gainsboro;
  border: #3a6b80 solid 10px;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px 20px 20px 50px;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-45px);
}

section .investigadores h3 {
  color: #e60202;
  font-weight: bold;
  width: 100%;
}

section .investigadores p {
  color: #3a6b80;
  width: 100%;
}

.contact-icons img {
  width: 70px;
  margin: 0px 5px 5px;
  transform: translateY(-20px);
}

/* organizadores logos */
.organizadores-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


@media screen and (max-width: 950px) {

  .investigadores {
    width: 100%;
    justify-content: center;
  }

  .investigador-img {
    width: 200px;
    height: 200px;
  }

  .informacion {
    width: 300px;
    height: 200px;
  }

  section .investigadores h2,
  h3,
  p {
    font-size: small;
  }

}

@media screen and (max-width: 650px) {
  .contenedor-titulo .titulos {
    width: 250px;
  }

  .contenedor-titulo .imagen {
    width: 80px;
  }

  .contenedor-titulo .titulo {
    width: 200px;
    font-size: 16px;
  }

  .investigador-img {
    width: 150px;
    height: 150px;
  }

  .informacion {
    border: #3a6b80 solid 5px;
    height: 150px;
    padding: 10px 0px 0px 50px;
    transform: translateX(-45px);
  }

  .contact-icons img {
    width: 40px;
  }

  .organizadores-logos img {
    width: 100px;
    justify-content: center;
  }

  .scielo-img {
    height: 100px;
  }

}

@media screen and (max-width: 450px) {
  .investigadores {
    padding-left: 30px;
  }

}
