<footer>
  <section class="navbar-footer">
    <a class="btn-contact" routerLink="/">
      <i class="fa fa-commenting me-2" aria-hidden="true"></i>
      ¡Hola!
    </a>

    <a routerLink="/">
      <img class="img-footer" src="assets/img/imageFooter.webp" alt="footer">
    </a>

    <div>
      <a href="https://www.facebook.com/unesco" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>

      </a>
      <a href="https://twitter.com/UNESCO" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </section>
</footer>
