<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <a routerLink="/" class="navbar-brand"><img src="assets/svg/logo.svg" width="100" alt=""></a>

    <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li id="sec-1" class="navbar-item">
                <a routerLink="/calendario" routerLinkActive="activo" class="navbar-link">Calendario</a>
            </li>
            <li id="sec-2" class="navbar-item">
                <a routerLink="/unete-participa" routerLinkActive="activo" class="navbar-link">Únete y participa</a>
            </li>
            <li id="sec-3" class="navbar-item">
                <a routerLink="/temas" routerLinkActive="activo" class="navbar-link">Temas</a>
            </li>
            <li id="sec-4" class="navbar-item">
                <a routerLink="/publicaciones" routerLinkActive="activo" class="navbar-link">Publicaciones</a>
            </li>
            <li id="sec-4" class="navbar-item">
                <a routerLink="/conocenos" routerLinkActive="activo" class="navbar-link">Conocenos</a>
            </li>
            <li id="sec-5" class="navbar-item">
                <a routerLink="/sobre-educa" routerLinkActive="activo" class="navbar-link">Sobre EduCA</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" routerLink="/">
                    <img src="assets/svg/translate.svg" height="50px" alt="">
                </a>
            </li>
        </ul>
    </div>
</nav>
