<app-navbar></app-navbar>


<div class="banner-content">
    <img src="assets/unete-y-participa/5.png" class="d-block w-100" alt="...">
    <h2 class="texto-banner">ÚNETE Y PARTICIPA</h2>
</div>


<div class="div-forms">

    <!-- Iniciar sesion -->
    <div class="div-form-1">
        <div class="form-sesion">

            <div class="label-title-project">
                <label for="">Inicia sesion</label>
            </div>

            <form action="">

                <label class="label-input" for="">Usuario</label>
                <div class="input-content">
                    <input type="text" placeholder="Escribe aqui...">
                </div>

                <label class="label-input" for="">Contraseña</label>
                <div class="input-content">
                    <input type="password" placeholder="Escribe aqui...">
                </div>

                <!-- Boton -->
                <div class="acciones-form">

                    <div class="div-captcha">
                        <img src="assets\img\catpchaimg.jpg" alt="">
                    </div>

                    <div class="btn-aceptar">
                        <a routerLink="/">Aceptar</a>
                    </div>
                </div>

            </form>
        </div>

        <label class="label-unete-1" for="">Únete y participa</label>

    </div>


    <!-- Registrarse -->
    <div class="div-form-2">

        <label class="label-unete-2" for="">Únete y participa</label>

        <div class="form-sesion">


            <div class="label-title-project">
                <label for="">Registrate</label>
            </div>

            <form action="">

                <label class="label-input" for="">Usuario</label>
                <div class="input-content">
                    <input type="text" placeholder="Escribe aqui...">
                </div>

                <label class="label-input" for="">Correo</label>
                <div class="input-content">
                    <input type="email" placeholder="Escribe aqui...">
                </div>

                <label class="label-input" for="">Contraseña</label>
                <div class="input-content">
                    <input type="password" placeholder="Escribe aqui...">
                </div>

                <label class="label-input" for="">Confirmar contraseña</label>
                <div class="input-content">
                    <input type="password" placeholder="Escribe aqui...">
                </div>

                <!-- Boton -->
                <div class="acciones-form">

                    <div class="div-captcha">
                        <img src="assets\img\catpchaimg.jpg" alt="">
                    </div>

                    <div class="btn-aceptar">
                        <a routerLink="/">Aceptar</a>
                    </div>
                </div>

            </form>
        </div>


    </div>

</div>

<app-footer></app-footer>